/.idea/.idea.FlatParser/.idea/vcs.xml
Application/obj
Domain/obj
Persistence/obj
Infrastructure/obj
WebApi/obj
.idea
Application/bin
Domain/bin
Infrastructure/bin
Persistence/bin
WebApi/bin
FlatParser.sln.DotSettings.user
